.settings {
    display: flex;
}
.settings-form{
  display: flex;
  flex-direction: column;
  flex: 1;

  padding: 20px;
}
.image-user{
  display: flex;
  flex-direction: column;
  flex: 1;

  padding: 20px 3.3rem;
}
.edit-button, .save-button {
  color: white;
}

.settings-button{
  display: flex;
  flex-direction: column;
}

.save-button {
  background-color: #0332FC;
  margin-top: 6px;
}
.edit-button {
  background-color: red;
}


