<div class="settings">
    <div class="image-user">
      <img src="./assets/us2.png" alt="profile-img">
      <button class="save-button" type="submit" mat-raised-button>Change Profile Image</button>
    </div>
    <form [formGroup]="settingsForm" class="settings-form">
      <mat-form-field appearance="outline" class="input-settings" >
        <mat-label>Your Name</mat-label>
        <input matInput placeholder="Name" formControlName="name" >
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Your lastname</mat-label>
        <input matInput placeholder="Lastname" formControlName="lastname">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Your telephone number</mat-label>
        <input matInput placeholder="Telephone Number" formControlName="telephone_number">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>ID Number</mat-label>
        <input matInput placeholder="ID Number" formControlName="id_number">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Your username</mat-label>
        <input matInput placeholder="Username" formControlName="username">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Your email</mat-label>
        <input matInput placeholder="Email" formControlName="email">
      </mat-form-field>
      <div class="settings-button">
        <button class="edit-button" type="submit" mat-raised-button>EDIT</button>
        <button class="save-button" type="submit" mat-raised-button>SAVE</button>
      </div>
    </form>

</div>
