<div *ngIf="showChangeDialog" [formGroup]="update_image">
  <h1 mat-dialog-title>Change Image</h1>
  <div>
    <input type="file" class="form-control"  formControlName="image" id="image"/>
  </div>
  <div mat-dialog-actions>
    <button mat-stroked-button class="change-button" (click)="changeVisibility('Confirmation-Dialog')" >CHANGE IMAGE</button>
    <button mat-stroked-button class="back-button" mat-dialog-close >CANCEL</button>
  </div>
</div>
<div *ngIf="showConfirmationDialog">
  <h1 mat-dialog-title>Are you sure to change your image profile?</h1>
  <div mat-dialog-actions>
    <button mat-button (click)="changeVisibility('Change-Image')" >No</button>
    <button mat-button mat-dialog-close (click)="updateImage()" >Yes</button>
  </div>
</div>
