<mat-toolbar color="primary">
  <span>SureService</span>
  <button mat-button class="button-app" [routerLink]="'/service' " >Service</button>
  <button mat-button class="button-app" [routerLink]="'/reservation'" >Reservation</button>
  <button mat-button class="button-app" [routerLink]="'/settings'" >Settings</button>
  <button mat-button class="button-app" [routerLink]="'/log-in'" >Log In</button>
  <button mat-button class="button-app" [routerLink]="'/sing-up'" >Sign Up</button>
</mat-toolbar>
<router-outlet></router-outlet>
