<div class="divide">
  <div class="container">
    <h1 class="title">Service</h1>
    <form [formGroup]="serviceForm" class="group">
      <mat-form-field class="form" appearance="fill">
        <mat-label>Search</mat-label>
        <mat-select formControlName="speciality" required>
          <mat-option value=14>Electricista</mat-option>
          <mat-option value=4>Gasfitero</mat-option>
        </mat-select>
      </mat-form-field>
        <mat-form-field class="form2" appearance="fill">
          <mat-label>Select Place</mat-label>
          <mat-select formControlName="place" required>
            <mat-option value="La Molina">La Molina</mat-option>
            <mat-option value="Ate Vitarte">Ate Vitarte</mat-option>
            <mat-option value="Surco">Surco</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="form2" appearance="fill">
          <mat-label>Do you want to see only the technicians available at this moment?</mat-label>
          <mat-select formControlName="disponibility" required>
            <mat-option value="1">Yes</mat-option>
            <mat-option value="2">No</mat-option>
          </mat-select>
        </mat-form-field>
      </form>
  </div>
  <div class="containbutton">
    <button mat-raised-button mat-button color="primary" class="button" (click)="getTechnicians()">Search</button>
    <button mat-raised-button mat-button color="warn" class="button" style="margin-top: 5px" (click)="getAllTechnicians()">All</button>
  </div>
</div>

<div class="technicians" *ngIf="technicians.length != 0">
  <div *ngFor="let item of technicians">
    <mat-card class="technicianCard">
      <img mat-card-image src="{{ item.image_url }}" alt="Image profile" style="max-height: 310px; object-fit: contain">
      <mat-card-header>
        <mat-card-title>{{item.name}} {{item.last_name}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <h4 class="text">Profession:</h4>
        {{item.speciality.name}}
        <h4 class="text">Location:</h4>
        {{item.district}}
        <h4 class="text">Disponibility:</h4>
        {{ item.disponibility == 1 ? "Yes" : "No" }}
      </mat-card-content>
      <mat-card-actions>
        <button class="technician-button" mat-button (click)="openDialog(item.id)">MORE INFO</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
<div class="technicians" *ngIf="technicians.length == 0">
  <h3>Didn't find technicians with these requirements</h3>
</div>


