<div *ngIf="show">
    <h1 mat-dialog-title >{{getCurrentTechnician().name}} {{getCurrentTechnician().last_name}}</h1>
    <div mat-dialog-content class="container">
        <div class="information">
            <div>
                <img class="img" mat-card-image src="{{ getCurrentTechnician().image_url }}" alt="image-profile">
            </div>
            <div class="text">
                <h4>Username: </h4>
                {{getCurrentTechnician().username}}
                <h4>Profession: </h4>
                {{getCurrentTechnician().speciality.name}}
                <h4>Location: </h4>
                {{getCurrentTechnician().district}}
            </div>
        </div>
        <mat-divider [vertical]="true"></mat-divider>
        <div class="moreInformation">
            <h4>Description:</h4>
            {{getCurrentTechnician().professional_profile}}
            <h4>DNI:</h4>
            {{getCurrentTechnician().dni}}
          <h4>Valoration:</h4>
          {{getCurrentTechnician().valoration}}
        </div>
    </div>
    <div mat-dialog-actions class="buttonGroup">
        <button mat-stroked-button color="primary" cdkFocusInitial mat-dialog-close>BACK</button>
        <button mat-raised-button color="primary" (click)="show=!show">BOOK APOINTMENT</button>
    </div>
</div>

<div *ngIf="show===false" class="containerForm">
    <h1 mat-dialog-title >{{getCurrentTechnician().name}} {{getCurrentTechnician().last_name}} Confirmation </h1>
    <form [formGroup]="form">
        <div class="text">
            <h4>Location:</h4>
            {{getCurrentTechnician().district}}
        </div>
        <mat-form-field appearance="fill" class="width">
            <mat-label>Describe your problem</mat-label>
            <input autocomplete="off" matInput formControlName="description" class="space" required>
            <mat-error *ngIf="description?.errors?.['maxLength'] && !description?.errors?.['required']">Description must have less than 100 characters</mat-error>
        </mat-form-field>
    </form>
    <div mat-dialog-actions class="buttonGroup">
        <button mat-stroked-button color="primary" (click)="show=!show">BACK</button>
        <button mat-raised-button color="primary" mat-dialog-close (click)="postReservation()">REQUEST SERVICE</button>
    </div>
</div>
